/* 一、头部 */

/* 1、顶部导航 */

/* 1.1 顶部导航左边 */
.topnav {
    width: 100%;
    height: 40px;
}

.topnav-left {
    float: left;
}

.topnav-left a {
    line-height: 38px;
    color: #9b9b9b;
    font-size: 12px;
    margin-right: 30px;
}

.topnav-left .ireader {
    display: inline-block;
    color: #666;
    border-bottom: 2px solid #666;
}

.topnav-left .shushan:hover {
    color: #f66;
}

/* 1.2 顶部导航右边 */
.topnav-right {
    float: right;
}

.topnav-right a {
    line-height: 40px;
    color: #666;
    margin-left: 40px;
}

.topnav-right a:hover {
    color: #f66;
}


/* 2、搜索栏 */

.search {
    width: 100%;
    height: 110px;
    background-image: url('../image/img/search_bg.jpg');
}

.search-logo {
    float: left;
    width: 240px;
    margin-top: 25px;
}

.search-searchbox {
    position: relative;
    float: left;
    margin-left: 165px;
    
}

.search-searchbox input{
    border: none;
    width: 410px;
    border-radius: 22px;
    height: 44px;
    margin-top: 32px;
    padding: 0 80px 0 26px;
    box-sizing: border-box;
} 

.search-searchbox input:hover {
    border: 1px solid #f66;
}
.search-searchbox .search-button {
    position: absolute;
    right: 0;
    top: 32px;
    width: 64px;
    height: 44px;
    background-color: #f66;
    border-radius: 22px;
}

.search-searchbox .search-button>img {
    position: absolute;
    top: 10px;
    left: 21px;
}

.search-searchbox .search-button>img:hover {
    background-color:#faf4f4;
}
/* 3、内容导航 */

.contentnav {
    width: 100%;
    height: 60px;
    background-color: #f66;
}

.contentnav-left {
    float: left;
}

.contentnav-left a{
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    margin-right: 45px;
}

.contentnav-left a:hover {
    font-size: 20px;
    font-weight: bolder;
}

.contentnav-right {
    float: right;
}

.contentnav-right a {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
}


.contentnav-right a:hover {
    font-size: 20px;
    font-weight: bolder;
}

/* 二、内容 */
main {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    overflow: hidden;
    box-sizing: border-box;
}
/* 1、左边 */
aside {
    float: left;
    width: 265px;
    height: 100%;
    background-color: #fff;
}

aside ul {
    width: 100%;
    height: 122px;
    border-bottom: 1px solid #ccc;
}
aside li>h3 {
    font-size: 16px;
    color: #212121;
    padding-top: 30px;
    padding-bottom: 20px;
}

aside ul:first-child li>h3 {
    padding-top: 0;
}
aside li>a {
    font-size: 12px;
    color: #666;
    margin: 0 10px;
    line-height: 2.5;
}

aside li>a:hover {
    padding: 3px;
    color: #fff;
    background-color: #f66;
    border-radius: 4px;
}

/* 2、右边 */
section {
    float: left;
    width: 800px;
    height: 100%;
    margin-left: 40px;
    background-color: #fff;
}

section ul {
    width: 800px;
    height: 160px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

section ul>li:nth-child(1) {
    float: left;
}
section ul>li:nth-child(1) {
    float: right;
}

section .img {
    float: left;
    width: 96px;
    height: 128px;
    border-radius: 2px;
    overflow: hidden;
}

section img {
    width: 96px;
    height: 128px;
    transition: all 0.5s;
}

section img:hover {
    transform: scale(1.1);
}

.content {
    float: left;
    width: 280px;
    height: 128px;
    padding-left: 15px;
}

.content a {
    display: block;
    color: #212121;
    font-size: 18px;
    padding-top: 4px;
}

.content a:hover {
    color: #f66;
}

.content p {
    position: relative;
    font-size: 12px;
    color: #9b9b9b;
    padding: 12px 0;
}

.content p i:nth-child(1){
    position: absolute;
    right: 60px;
    border: 1px solid #9b9b9b;
    padding: 0px 2px;
}

.content p i:nth-child(2){
    position: absolute;
    right: 0;
    color: #00a3da;
    border: 1px solid #00a3da;
    padding: 0px 2px;
}

.content span {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    display: -webkit-box; 
    margin-bottom: 10px;
}

.content em {
    color: #9b9b9b;
    font-size: 12px;
    padding-top: 10px;
}


/* 底部导航 */
nav {
    float: right;
    width: 350px;
    height: 24px;
    margin: 60px 0;
    box-sizing: border-box;
}

nav a {
    font-size: 14px;
    color: #9b9b9b;
    margin-left: 5px;
    padding:2px 6px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
}

nav a:hover {
    color: #f66;
}

nav .num:hover {
    color: #fff;
    background-color: #f66;
    box-sizing: border-box;
    border-radius: 4px;
}

nav a:last-child {
    display: inline-block;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    padding: 1px 7px;
    margin-top: 2px;
}

nav a:last-child:hover {
    color: #f66;
    border: 1px solid #f66;
}

nav input {
    width: 36px;
    height: 20px;
    text-align: center;
    border: none;
    border: 1px solid #9b9b9b;
    border-radius: 2px;
    box-sizing: border-box;
    margin-left: 16px;
}

nav input:hover {
    border: 1px solid #f66;
}

/* 三、底部 */
footer {
    width: 100%;
    height: 100%;
    margin-top: 100px;
    border-top: 2px solid #f66;
    padding-top: 50px;
}

/* 1.1 友情链接 */
.blogroll {
    width: 100%;
    height: 110px;
    margin-bottom: 45px;
}

/* 1.1.1 友情链接标题 */
.blogroll-title {
    float: left;
    width: 60px;
    height: 100%; 
    color: #666;
    font-size: 14px;
    margin-right: 15px;
}

/* 1.1.2 友情链接链接 */
.blogroll-link {
    float: left;
    width: calc(1120px - 60px - 15px);
    height: 100%;
}

.blogroll-link a {
    display: inline-block;
    color: #666;
    font-size: 14px;
    margin-right: 20px;
    line-height: 1.5;
}

.blogroll-link a:hover {
    color: #f66;
}


/* 1.2 底部导航 */
.bottomnav {
    width: 100%;
    height: 14px;
    text-align: center;
    margin-bottom: 30px;
}

.bottomnav a {
    font-size: 14px;
    color: #666;
    margin:0 20px;
}

.bottomnav a:hover {
    color: #f66;
}

/*  1.3 版权 */
.copyright {
    width: 100%;
    margin-bottom: 100px;
}

.copyright p {
    text-align: center;
    line-height: 2;
    color: #9b9b9b;
    font-size: 14px;
}

.copyright span>a {
    color: #666;
}

.copyright span>a:hover {
    color: #f66;
}
