.container {
    width: 1120px;
    margin: 0 auto;
}


/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear:both;
}

.clearfix {
    *zoom: 1;
}